{% load static %}
<footer id="site-footer" class="w-100">
    <div class="text-center px-3">
        <p class="mb-1">&copy; 2025 B29 Clothes |
            <a href="{% url 'homepage' %}" style="margin: 0px">Home</a>
        </p>
        <p class="mb-0" style = "padding: 0px 10px;">
            This system is a class project, the system is not monitored, and no real information should be submitted.
            If you are looking for more information about this project and course, please refer <a href="https://s25.cs3240.org/" target="_blank" rel="noopener noreferrer" style="margin: 0px">here</a>.
            If you are looking for some sort of clothing lending and borrowing app, please refer to websites like <a href="https://www.depop.com/" target="_blank" rel="noopener noreferrer" style="margin: 0px">Depop</a> and <a href="https://www.nuuly.com/" target="_blank" rel="noopener noreferrer" style="margin: 0px">Nuuly</a>.
        </p>        
    </div>
</footer>